@import url(https://fonts.googleapis.com/css2?family=Great+Vibes&display);


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #924905;
    background: linear-gradient(340deg, rgb(209, 112, 2) 0%, rgba(148, 10, 45, 1) 50%, rgb(54, 20, 1) 100%);
    height: 100%;
    width: 100%;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px;
    color: aliceblue;
}

h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

iframe {
    margin: 20px;

}


.galeria img {
    width: 250px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}



.texto {
    background-color: aliceblue;
    width: 400px;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
}

footer {
    margin: 10px;
    font-weight: bold;
    font-size: 20px;
}